.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
venv/
.make-sentinels/
data/*.json
etc/
instance/
htmlcov/
node_modules/
src/ploneorg.core/setuphandlers/data/*.json
.vscode/
.tox/
__pycache__
reports/
# files
*-mxdev.txt
log.html
output.xml
pip-selfcheck.json
report.html
.installed.txt
# excludes
inituser
pip-wheel-metadata
